@import "../node_modules/bootstrap/less/bootstrap";

body{
  color: #494949;
  font-family: Georgia, "Times New Roman", serif;
}

ul.products{
  padding: 0;
  margin: 0;
  list-style: none;
  li{
    display: block;
    float: left;
  }
}


/* for high resolution display */

@media only screen and (min--moz-device-pixel-ratio: 2),

only screen and (-o-min-device-pixel-ratio: 2/1),

only screen and (-webkit-min-device-pixel-ratio: 2),

only screen and (min-device-pixel-ratio: 2) {

  .image {
    //-- may not be needed...
  }
}

.largerImageCell{
  width:256px;
  min-height:385px;
}

.product-holder{
  .largerImageCell;
  background-color: #ffff00;
  overflow: hidden;
  p{
    padding-right: 10px;
  }
  @media (max-width: 599px) {
    width:220px;
    min-height:320px;
    background-color: #ff7b45;

  }

  @media (min-width: 600px) and (max-width: 767px) {
    width:196px;
    min-height:330px;
    background-color: #ff2656;


  }

  @media (min-width: 768px) and (max-width: 979px) {
    .largerImageCell;
    background-color: #ff2013;
  }

  @media (min-width: 1200px) {
    .largerImageCell;
    background-color: #9728ff;


  }
  .image-holder{
    
  }
}

.container{
  margin-top: 20px;
  padding-top:20px;
  border: 1px solid #cacaca;
  width:805px;

  @media (max-width: 599px) {
    width:250px;
  }

  @media (min-width: 600px) and (max-width: 767px) {
    width:620px;
  }

  @media (min-width: 768px) and (max-width: 979px) {
    width:800px;
  }

  @media (min-width: 1200px) {
    width:805px;
  }

}

p.designer{
  text-transform: uppercase;
  padding: 5px 0 0 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}


.fadedOut{
  opacity: .1;
}
.fadedIn{
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
  &:hover{opacity:.4}

}